@use "../../style/breakpoints" as *;

.blue {
  display: flex;
  align-items: center;
  padding: 20px;
  background: #b6cafb29;
  margin-top: 32px;
}
.promo-cards {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.promoCard {
  position: relative;
  //   flex: 0 0 359px;
  width: 359px;
  height: 238px;
  border-radius: 12px;
  overflow: hidden;
  padding: 24px;
  cursor: pointer;

  img {
    position: absolute;
    right: -10px;
    bottom: 0;
    max-width: 50%;
    max-height: 70%;
    object-fit: contain;
    z-index: 1;
  }
}

.promoCard-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  h4 {
    font-size: 22px;
    font-weight: 700;
    color: #1a1a1a;
  }

  p {
    margin-top: 12px;
    font-size: 14px;
    font-weight: 600;
    color: #1a1a1a;

    span {
      margin-left: 4px;
    }
  }
}

// ////////////////////// media

.blue {
  @include mobile {
    margin-top: 2px;
  }
}

.promoCard {
  @include tablet {
    width: 280px;
    height: 190px;
  }

  @include mobile {
    width: 240px;
    height: 160px;
    img {
      max-width: 45%;
      max-height: 65%;
    }
  }
}
.promoCard-text{
  @include mobile {
    h4{
      font-size: 16px;
    }
  }
}
