@use "../../style/breakpoints" as *;

.product-Card {
  margin-top: 32px;
}

.tabs {
  display: flex;
  gap: 24px;

  button {
    all: unset;
    cursor: pointer;
    color: #9b9b9b;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 12px;
    border-bottom: 2px solid transparent;
    transition: 0.3s;

    &.active {
      color: #1a1a1a;
      border-bottom: 2px solid #4e72ca;
    }
  }
}

.productCards {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.card {
  width: 100%;
  min-height: 282px;
  border-radius: 15px;
  transition: 0.45s;
  display: block;
  text-decoration: none;
  color: inherit;

  img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 15px;
  }
}
.card:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
}
.text {
  padding: 15px;
  .descripition {
    font-weight: 700;
    font-size: 16px;
    color: black;
  }
  .time {
    margin-top: 12px;
    font-size: 12px;
    color: #4a4a4a;
    font-weight: 400;
  }
  .price {
    font-weight: 700;
    font-size: 16px;
    color: black;
  }
}

.showMore {
  display: flex;
  justify-content: center;
  margin-top: 24px;

  button {
    all: unset;
    cursor: pointer;
    color: #4e72ca;
    font-weight: 600;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 4px;
  }
}

// //////////////////// media

// .tabs {
//   button {
//     @include tablet {
//       font-size: 20px;
//     }
//   }
//   @include mobile {
//     gap: 12px;
//     overflow-x: auto;
//     scrollbar-width: none;

//     &::-webkit-scrollbar {
//       display: none;
//     }
//   }
// }

.productCards {
  // @include tablet {
  //   grid-template-columns: repeat(3, 1fr);
  //   gap: 14px;
  // }

  // @include mobile {
  //   grid-template-columns: repeat(2, 1fr);
  //   gap: 10px;
  // }
}

.productCard img {
  // @include mobile {
  //   height: 110px;
  // }
}
