@use "../../style/breakpoints" as *;
.footerTopPages {
  background: #282b30;
  padding-bottom: 25px;
  padding-top: 25px;
}
.footerTopPages-aps {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .footerTopPagesImg {
    display: flex;
    align-items: center;
    color: white;
    gap: 12px;
  }
  .footerTopPages-apps {
    display: flex;
    gap: 18px;
  }
  h5 {
    max-width: 350px;
    color: #98a4b7;
    font-size: 16px;
    font-weight: 600;
  }
}

//////////////////////////// media

.footerTopPages-aps {
  @include tablet {
    flex-direction: column;
    gap: 16px;
    text-align: center;
  }

  h5 {
    @include mobile {
      max-width: 100%;
    }
  }
}
