@use "../../style/breakpoints" as *;
.navbar {
  width: 100%;
  background: #fff;
}
.shadow {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.logo {
  display: flex;
  gap: 14px;
  align-items: center;
}
.logo p {
  width: 155px;
  font-weight: 700;
  color: black;
  font-size: 14px;
}
.pages {
  display: flex;
  gap: 30px;
}
.pages button {
  font-weight: 500;
  line-height: 100%;
  font-size: 16px;
  all: unset;
  cursor: pointer;
}
.lang {
  display: flex;
  gap: 12px;
}
.lang button {
  all: unset;
  font-size: 14px;
  font-weight: 500;
  color: #4a4a4a;
  cursor: pointer;
}
.regiter {
  display: flex;
  gap: 12px;
}
.regiter button {
  all: unset;
  color: #4e72ca;
  font-size: 17px;
  font-weight: 700;
  cursor: pointer;
}
.burger-menu {
  display: none;
}
// ///////////////////////////////////////// media
.navbar-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;

  @include mobile {
    // height: 56px;
    .logo img {
      width: 48px;
    }
  }
}

.logo p {
  @include mobile {
    display: none;
  }
}

.pages {
  @include tablet {
    gap: 16px;
  }

  @include mobile {
    display: none;
  }
}

.lang {
  @include mobile {
    display: none;
  }
}

.regiter {
  @include mobile {
    font-size: 12px;
    gap: 8px;
  }
}

@include mobile {
  .burger-menu {
    display: block;
    all: unset;
  }
  .mobilMenu {
    position: absolute;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);

    top: 56px;
    left: 0;
    width: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    padding: 16px;

    button {
      all: unset;
      border-bottom: 1px solid #eee;
      cursor: pointer;
      padding: 14px 0px;
    }
  }
}
