@use "../../style/breakpoints" as *;

.productDetalHeader {
  .cityName {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
  .linkText {
    color: #787993;
    text-decoration: none;
  }
  .productDetal-title {
    font-weight: 500;
    font-size: 34px;
    margin-top: 24px;
    color: #414d6a;
  }
}

// ///////////////////////////////// meadi
.productDetalHeader {
  margin-top: 24px;

  .productDetal-title {
    font-size: 34px;

    @include tablet {
      font-size: 26px;
    }

    @include mobile {
      font-size: 20px;
      margin-top: 16px;
    }
  }
}
