@use "../../style/breakpoints" as *;

.cards {
  margin-top: 50px;
  display: flex;
  gap: 50px;
}
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 75px;
  padding: 16px;
  background-color: #b6cafb;
  border-radius: 20px;
  .card-title {
    font-weight: 700;
    font-size: 14px;
    color: #4a4a4a;
    margin-top: 6px;
  }
  .card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
}

.barel {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

// //////////////////////////////// meadi

.cards {
  @include tablet {
    gap: 28px;
  }

  @include mobile {
    margin-top: 24px;
    overflow-x: auto;
    scrollbar-width: none;
    .card-title {
      font-size: 12px;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.card {
  @include mobile {
    width: 56px;
    height: 56px;
  }
}
